<h1>Matches#index</h1>
<p>Find me in app/views/matches/index.html.erb</p>

<div>
  <h2>Crie a sua partida</h2>
  <div class="match-index-box">
    <% if @teams.present? %>
      <%= form_with url: matches_path, method: :post do %>
        <div class="form-group">
          <label for="home_team" class="form-label">Selecione o seu time:</label>
          <select name="home_team_id" id="home_team" class="btn btn-primary form-select">
            <% @teams.select { |team| team.created_by_user? }.each do |team| %>
              <option value="<%= team.id %>"><%= team.name %></option>
            <% end %>
          </select>
          <label for="away_team" class="form-label">Selecione o time adversário:</label>
          <select name="away_team_id" id="away_team" class='btn btn-primary form-select'>
            <% @teams.reject { |team| team.created_by_user? }.each do |team| %>
              <option value="<%= team.id %>"><%= team.name %></option>
            <% end %>
          </select>
        </div>
        <div>
          <%= link_to 'Voltar', teams_path, class: 'btn btn-primary' %>
          <%= submit_tag "Criar Partida", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% else %>
      <div>
        Nenhum time disponível.
      </div>
    <% end %>
  </div>
  <%= image_tag 'match_index.jpeg', class: 'match-index' %>
</div>