<h1>Matches#show</h1>
<p>Find me in app/views/matches/show.html.erb</p>

<h1>Detalhes da Partida</h1>

<div class="match-box">
    <div class="home-team">
        <%= @match.home_team.name %>
        <ul>
            <% @match.home_team.players.each do |player| %>
                <li><%= player.name %></li>
            <% end %>
        </ul>
    </div>
    <div>
        <p>Score: <%= @match.home_score %> X Score: <%= @match.away_score %></p>
        <div class="match-button">
        <%= button_to 'Começar partida', simulate_match_path(@match), method: :post, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="away-team">
        <%= @match.away_team.name %>
                <ul>
            <% @match.away_team.players.each do |player| %>
                <li><%= player.name %></li>
            <% end %>
        </ul>
    </div>
</div>
<%= link_to 'Voltar', teams_path %>
<%= image_tag 'match_show.jpeg', class: 'match-show' %>
